---
title: 视频
no_word_count: true
no_toc: true
no_date: true
no_declare: true
no_reward: true
no_comments: false
abbrlink: e26d1860
---

<link rel="stylesheet" href="./static/ins.css">
<div class="photos-btn-wrap">	
  <a class="photos-btn" href="./index.html">Photos</a>
  <a class="photos-btn active" href="./video.html">Videos</a>
</div>

<center>
    <h1>欢乐喜剧人</h1>
</center>
<hr>
<center>
    <div class="video-container">
		<iframe height="80%" width="80%" src='https://player.youku.com/embed/XMzUxNDI3MzAwOA==' frameborder=0 'allowfullscreen'></iframe>
    </div>
</center>

<hr>
<center>
    <h1>《PyTorch深度学习实践》完结合集 —— 刘二大人</h1>
</center>
<hr>
<div style="position:relative; padding-bottom:75%; width:100%; height:0">
    <iframe src="//player.bilibili.com/player.html?aid=97078147&bvid=BV1Y7411d7Ys&cid=165713573&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" style="position:absolute; height: 100%; width: 100%;"></iframe>
</div>
